.container {
  display: flex;
  flex-direction: column;
  margin: 20px auto 0 auto;
}

.imageContainer {
  margin: 20px auto 0 auto;
  width: 240px;
  height: 240px;

  border-style: dashed;
  border-color: grey;
  border-width: thin;
}

.image {
  width: 240px;
  height: 240px;
}

.phrase {
  width: 288px;
  height: 64px;
  margin-top: 8px;
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
  align-items: center;
  text-align: center;
}

.btnGroup {
  margin: 20px auto 0 auto;
  display: flex;
  flex-direction: column;
}

.greenBtn {
  width: 288px;
  height: 48px;

  background: #3dad06;
  border-radius: 30px;
  border-style: none;

  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-weight: 900;
  font-size: 16px;
  line-height: 24px;

  align-items: center;
  text-align: center;

  color: #ffffff;
}

.whiteBtn {
  width: 288px;
  height: 48px;

  opacity: 0.8;
  border: 1px solid #3dad06;
  box-sizing: border-box;
  border-radius: 30px;

  font-family: Nunito;
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 24px;

  align-items: center;
  text-align: center;

  color: #3dad06;
}

.haveAccount {
  width: 163px;
  height: 24px;

  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  display: flex;
  align-items: center;

  color: #5c5b5b;
}

.signIn {
  width: 47px;
  height: 24px;
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  align-items: center;
  text-decoration-line: underline;

  color: #020202;
}
