.modalFormContainer {
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row; */
  /* margin: 0;
  padding: 0; */
  border: 1px solid red;
}

.greenBtn {
  width: 69px;
  height: 28px;
  margin: 0 auto;
  font-style: normal;
  font-weight: 900;
  font-size: 12px;
  line-height: 18px;
  background: #3dad06;
  border-radius: 30px;
  border-style: none;
  align-items: center;
  text-align: center;
  top: -20px;
  right: 17px;
  color: #ffffff;
}

.inputCustom {
  top: -20px;
  width: 80%;
  /* max-width: 70%; */
  left: 10px;
  border: none;
  border-bottom: 1px solid #bfbfbf;
}

.labelCustom {
  font-weight: 600;
  font-size: 13px;
  color: #bfbfbf;
}
