#forms {
  margin: 33px auto 0 auto;
  width: 288px;
}

.btnGroup {
  margin: 56px auto 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.greenBtn {
  width: 288px;
  height: 48px;

  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 24px;

  background: #3dad06;
  border-radius: 30px;
  border-style: none;

  align-items: center;
  text-align: center;

  color: #ffffff;
}

.whiteBtn {
  width: 288px;
  height: 48px;

  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 24px;

  background: #ffffff;
  border: 1px solid #3dad06;
  box-sizing: border-box;
  border-radius: 30px;

  align-items: center;
  text-align: center;

  color: #3dad06;
}

.btnGroup :first-child {
  margin-bottom: 16px;
}