* {
  font-family: Nunito;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: none;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input::placeholder {
  font-family: Nunito;
}

/* отключение * required input */
.ant-form-item-label > label.ant-form-item-required::before {
  content: none !important;
}

/* label для input */
.ant-form-item-label > label.ant-form-item-required {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
}

.ant-form-item-label {
  padding: 0px !important;
  padding-bottom: 3px;
}

.ant-form-item-required {
  font-weight: 600 !important;
  font-size: 13px !important;
  line-height: 150% !important;
}
.ant-drawer-content {
  overflow: hidden !important;
}

.slick-dots li button {
  height: 6px !important;
  width: 6px !important;
  border-radius: 4px !important;
  background-color: gray;
}

.slick-dots .slick-active button {
  background: rgba(61, 173, 6, 0.8) !important;
}

.ant-carousel .slick-dots li {
  transition: none !important;
  width: 11px !important;
}
