.Modal {
  position: fixed;
  box-sizing: border-box;
  top: 20%;
  left: 20%;
  right: 20%;
  z-index: 200;
  background: #ffffff;
  width: 60%;
  padding: 20px;
  border-radius: 10px;
  transition: all .6s ease-out;
}

.Modal h2 {
  font-size: 31px;
  text-align: center;
  color: #a52a2a;
}

.Modal button {
  display: block;
  margin: 20px auto;
}

@media (max-width: 650px) {
 .Modal {
   width: 80%;
   left: 10%;
   right: 10%;
 }
}