.product-name {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #dfdffd;
  padding: 4px 2px;
}

#productName {
  outline: 0 !important;
  outline-offset: 0 !important;
}