button .react-calendar__navigation__arrow,
.react-calendar__navigation__next2-button {
  display: none;
}

button .react-calendar__navigation__arrow,
.react-calendar__navigation__prev2-button {
  display: none;
}

.react-calendar {
  border: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.react-calendar__navigation {
  width: 214px;
  margin: 0 auto;
}

.react-calendar__tile,
.react-calendar__month-view__days__day,
.react-calendar__month-view__days__day--weekend {
  color: #434343;
  font-size: 12px;
  padding: 0;
  height: 40px;
}

.react-calendar__navigation__arrow,
.react-calendar__navigation__next-button {
  color: transparent;
  transition: .3s;
  min-width: 20px !important;
}

button .react-calendar__navigation__arrow,
.react-calendar__navigation__next-button {
  background: url("../../assets/images/go-next.svg") no-repeat 100% 50% !important;
}

button .react-calendar__navigation__arrow,
.react-calendar__navigation__prev-button {
  background: url("../../assets/images/go-back-green.svg") no-repeat 0 50% !important;
}

.react-calendar__tile--active {
  /*background: transparent;*/
  box-sizing: border-box;
  color: #3DAD06;
  /*border: 5px solid #3DAD06;*/
  border-radius: 50%;
}