.container {
    display: flex;
    flex-direction: column;
}

.explanationText {
    margin: 0px auto 0 auto;
    width: 288px;
    height: 82px;

    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    align-items: center;
    text-align: center;

    color: #262626;
}
.phrase {
    margin: 16px auto 0 auto;
    width: 288px;
    height: 32px;

    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 24px;

    line-height: 33px;
    align-items: center;
    text-align: center;
}