.container {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
}

.firstPart {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 24px;
}

.footerForm {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
}

.footerForm :nth-child(2) {
  padding-left: 8px;
}

.footerForm :nth-child(3) {
  padding-left: 24px;
}

.btnBack {
  position: absolute;
  width: 45px;
  height: 24px;
  left: 16px;
  top: 32px;

  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-decoration-line: underline;

  color: #595959;
}
