.inputItem {
  height: 55px;
}

.inputItem .input {
  width: 288px;
  background: #ffffff;
  border: 1px solid #d9d9d9;
  border: none;
  border-bottom: 1px solid #bfbfbf;
}

.input ::placeholder {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: #000000;
}
