.container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.body {
  /* body 16/normal */
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  /* neutral/10 */
  color: #262626;
}

.spacer {
  padding: 3px;
}

.icon {
  /* green/6 */
  color: #3dad06;  
}