.container {
  display: flex;
  flex-direction: column;
}
.btnGroup {
  margin: 24px auto 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

button span {
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 24px;
}

.greenBtn {
  width: 288px;
  height: 48px;

  font-family: Nunito;
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 24px;

  background: #3dad06;
  border-radius: 30px;
  border-style: none;

  align-items: center;
  text-align: center;

  color: #ffffff;
}

.whiteBtn {
  width: 288px;
  height: 48px;
  margin-top: 16px;

font-style: normal;
font-weight: 900;
font-size: 16px;
line-height: 24px;

  background: #ffffff;
  border: 1px solid #3dad06;
  box-sizing: border-box;
  border-radius: 30px;

  align-items: center;
  text-align: center;

  color: #3dad06;
}

.question {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 16px;

}

.haveAccount {
  width: 163px;
  height: 24px;

  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  display: flex;
  align-items: center;

  color: #6a6767;
}

.signIn {
  width: 47px;
  height: 24px;
  padding-left: 8px;
  margin-bottom: 10px;

  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  align-items: center;
  text-decoration-line: underline;

  color: #020202;
}
